# {{ ansible_managed }}

<IfModule remoteip_module>
    RemoteIPHeader {{ apache_remoteip_header }}
{% for proxy in apache_remoteip_proxies %}
    RemoteIPInternalProxy {{ proxy }}
{% endfor %}
</IfModule>
