# {{ ansible_managed }}

<IfModule mod_status.c>
    ExtendedStatus On

    <Location /server-status>
        SetHandler server-status
        Require local
        Require ip 10.1.71.0/24
        Require ip 10.254.0.0/16
        Require ip 10.255.0.0/16
    </Location>
</IfModule>
