# {{ ansible_managed }}

<IfModule mod_status.c>
    ExtendedStatus On

    <Location /server-status>
        SetHandler server-status
        Order deny,allow
        Deny from all
        Allow from ::1
        Allow from 127.0.0.1
        Allow from 10.1.71.0/24
        Allow from 10.254.0.0/16
        Allow from 10.255.0.0/16
    </Location>
</IfModule>
